--swiftversion 6.0
--enable assertionFailures, \
blankLineAfterImports, \
blankLinesAtEndOfScope, \
blankLinesAtStartOfScope, \
blankLinesBetweenChainedFunctions, \
blankLinesBetweenImports, \
blankLinesBetweenScopes, \
blockComments, \
braces, \
conditionalAssignment, \
consecutiveBlankLines, \
consecutiveSpaces, \
docComments, \
duplicateImports, \
elseOnSameLine, \
emptyBraces, \
headerFileName, \
hoistPatternLet, \
initCoderUnavailable, \
isEmpty, \
leadingDelimiters, \
linebreakAtEndOfFile, \
modifierOrder, \
noExplicitOwnership, \
numberFormatting, \
redundantBreak, \
redundantClosure, \
redundantExtensionACL, \
redundantGet, \
redundantInit, \
redundantInternal, \
redundantLet, \
redundantLetError, \
redundantNilInit, \
redundantObjc, \
redundantOptionalBinding, \
redundantParens, \
redundantPattern, \
redundantProperty, \
redundantReturn, \
redundantTypedThrows, \
redundantVoidReturnType, \
semicolons, \
sortDeclarations, \
sortImports, \
sortSwitchCases, \
spaceAroundBraces, \
spaceAroundBrackets, \
spaceAroundComments, \
spaceAroundGenerics, \
spaceAroundOperators, \
spaceAroundParens, \
spaceInsideBraces, \
spaceInsideBrackets, \
spaceInsideComments, \
spaceInsideGenerics, \
spaceInsideParens, \
trailingClosures, \
trailingSpace, \
typeSugar, \
unusedArguments, \
void, \
yodaConditions

--disable acronyms, \
andOperator, \
anyObjectProtocol, \
applicationMain, \
blankLineAfterSwitchCase, \
blankLinesAroundMark, \
consistentSwitchCaseSpacing, \
docCommentsBeforeModifiers, \
enumNamespaces, \
fileHeader, \
hoistTry, \
hoistAwait, \
markTypes, \
genericExtensions, \
opaqueGenericParameters, \
preferForLoop, \
preferKeyPath, \
propertyTypes, \
redundantBackticks, \
redundantFileprivate, \
redundantRawValues, \
redundantSelf, \
redundantStaticSelf, \
redundantType, \
strongOutlets, \
strongifiedSelf, \
wrapConditionalBodies, \
wrapEnumCases, \
wrapLoopBodies, \
wrapMultilineConditionalAssignment, \
wrapMultilineStatementBraces, \
wrapSwitchCases, \
organizeDeclarations

--indent 4
--organizationmode visibility
--nilinit remove
--maxwidth 180
--nowrapoperators
--wraparguments before-first
--wrapcollections before-first
--funcattributes prev-line
--typeattributes prev-line